.main-view {
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0; 
    position: fixed; 
    box-sizing: border-box;
    text-align: center;
    overflow-y: auto;
}

.main-title {
    position: relative;
    font-size: 5vh;
    color: white;
    font-family: var(--fontFamily);
    margin-top: 7vh;
}

.photo-line {
    position: relative;
    box-sizing: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.between-text {
    position: relative;
    font-family: var(--fontFamily);
    font-size: 5vh; 
    color: white;
}

.image-bigger {
    width: 15vh;
    height: auto;
    position: relative;
}

.image-smaller {
    width: 10vh;
    height: auto;
    position: relative;
}

.dots {
    font-size: 10vh;
    word-spacing: 3vh;
    color: white;
}

.ramik {
    background-image: url("assets/images/spolu/ramik.png");
    background-size: 100% auto;
    width: 22vh;
    height: 24vh;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.image-ramik {
    position: relative;
    top: 3vh;
    left: 3.5vh;
    width: 15vh;
    height: 12vh;
    overflow: hidden;
}

.text-under-photo {
    position: relative;
    top: 6vh;
    font-family: var(--fontFamily);
    font-size: 2vh;
}