.main-view {
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0; 
    position: fixed; 
    box-sizing: border-box;
    text-align: center;
    overflow-y: auto;
}

.main-title {
    margin-top: 7vw;
    position: relative;
    font-size: 5vw;
    color: white;
    font-family: var(--fontFamily);
}

.photo-line {
    position: relative;
    box-sizing: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.between-text {
    position: relative;
    font-family: var(--fontFamily);
    font-size: 5vw; 
    color: white;
}

.image-bigger {
    width: 25vw;
    height: auto;
    position: relative;
}

.image-smaller {
    width: 15vw;
    height: auto;
    position: relative;
}

.dots {
    font-size: 10vw;
    word-spacing: 3vw;
    color: white;
}

.ramik {
    background-image: url("assets/images/spolu/ramik.png");
    background-size: 100% auto;
    width: 25vw;
    height: 28vw;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.image-ramik {
    position: relative;
    top: 5vw;
    left: 3.5vw;
    width: 18vw;
    height: 16vw;
    overflow: hidden;
}

.text-under-photo {
    position: relative;
    top: 6vw;
    font-family: var(--fontFamily);
    font-size: 2vw;
}