@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Italianno&family=Lobster&display=swap');
:root {
    
    --borderColor: #000000;
    --backgroundColor: rgb(255, 255, 255);
    --invitationHeaderColor: rgb(0, 0, 0);
    --startButtonHoverColor: rgb(255, 253, 100);
    --detailsOrHomeHoverColor: rgb(36, 184, 17);
    --fontFamily: italianno;
  }